#header-nav {
    background-color: #f6b319;
    border-radius: 0;
    border: 0;
    height: 100px;
  }
*{
	margin-right: 0px;
	padding-right: 0px;
}
.container
{
  background-color: #61122f;
}
.b
{
	background-color: white;
}
body
{
	backface-visibility: #ccc;
	font-family: 'Oxygen', sans-serif;
	background-color: #61122f;
}
 

.navbar-brand {
    padding-top: 25px;
  }
  .navbar-brand h1 { /* Site name */
    font-family: 'Lora', serif;
    color: #557c3e;
    font-size: 1.5em;
    text-transform: uppercase;
    font-weight: bold;
    text-shadow: 1px 1px 1px #222;
    margin-top: 10;
    margin-bottom: 0;
    line-height: .75;
  }
  .navbar-brand a:hover, .navbar-brand a:focus {
    text-decoration: none;
  }
  .navbar-header #collapsable-nav {
border: #222;
  }


   #nav-list {
    margin-top: 10px;

  }
  #nav-list a {
    color: #fdfdfd;
    text-align: center;
    
  }
  #nav-list a:hover {
    background: #136901;
   
  }
  #nav-list a span {
    font-size: 1.8em;
  }
  .navbar-header button.navbar-toggle, .navbar-header .icon-bar {
    border: 1px solid #61122f;
  }
  .navbar-header button.navbar-toggle {
    clear: both;
    margin-top: -30px;
  }
  
/*button*/
.a
{
    padding-top: 50px;
	position: absolute;
	top:100%;
	left: 50%;
	transform:translate(-50%,-50%);
	margin: 0;
	padding: 0;

}

.a li
{
	list-style: none;
	margin: 10px 5px;
}

.a li a .fa
{
	font-size: 40px;
	color: #333;
	line-height: 80px;
	transition: 0.5s;
	padding-right: 14px;
}

 .a li a span
 {
 	padding: 0;
 	margin: 0;
 	position: absolute;
 	top:30px;
 	color: #333;
 	letter-spacing: 2px;
 	transition: 0.5s;
 }

 .a li a 
 {
 	text-decoration: none;
 	display: fixed;
 	display: block;
 	width: 210px;
 	height: 80px;
 	background: #fff;
 	text-align: left;
 	padding-left: 20px;
 	transform: rotate(0deg) skewX(15deg) translate(0,0);
 	transition: 0.5s;
 	box-shadow: -20px 20px 10px rgba(0,0,0,0,5);
 }

 .a li a:before
 {
 	content: '';
 	position: absolute;
 	top: 10px;
 	left: -20px;
 	height: 100%;
 	width: 20px;
 	background: #b1b1b1;
 	transform: 0.5s;
 	transform: skewY(-45deg);
 }

 .a li a:after
 {
 	content: '';
 	position: absolute;
 	bottom: -20px;
 	left: -10px;
 	height: 20px;
 	width: 100%;
 	background: #b1b1b1;
 	transform: 0.5s;
 	transform: rotate(0deg) skewX(-45deg);
 }

 .a li a:hover
 {
 	transform: rotate(0deg) skew(15deg) translate(20px,-15px);
 	box-shadow: -50px 50px 50px rgba(0,0,0,0,5);
 }

 .a li:hover .fa
 {
 	color: #fff;
 }

 .a li:hover span
 {
 	color: #fff;
 }

 .a li:hover a
 {
 	background: #dd4b39;
 }

  .a li:hover a:before
 {
 	background: #b33a2b;
 }

  .a li:hover a:after
 {
 	background: #e66a5a;
 }
 
 
 .footer {
    margin-top: 15px;
 padding-bottom: 50px;
 background-color: #473c40;
 color: #ccc;
 padding-top: 50px;
 
 width: 100%;
}
